# ide
.idea/*
!.idea/runConfigurations
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/copyright
*.iml

# build
gallery-daemon
*.pb.go

# database
videos.db
videos.db-journal
videos.db-shm
videos.db-wal
